@media screen {
    .casestudy__header {
      height: 155px;
      padding: 0 15px 15px;
      transition: all 0.5s;
      z-index: 1;
    }
    .casestudy__holder:hover .casestudy__header {
      transform: translateY(-42px);
      transition: all 0.5s;
    }
    .casestudy__footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
      background-color: rgba(240, 242, 244, 1);
      padding: 8px 15px;
    }
    .casestudy__holder:hover a i {
      transform: translate(10px);
      display: inline-block;
      transition: all 1s;
    }
    .casestudy__holder:hover {
      box-shadow: 0 0 3px #999;
    }
    .casestudy__tag {
      background-color: rgba(23, 56, 101, 0.8);
      padding: 5px 15px;
      color: #fff;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      margin-left: -15px;
      transform: translateY(-100%);
    }
    .cat__item {
      border: 1px solid #eee;
      padding: 5px 10px;
      border-radius: 6px;
      margin: 5px;
      display: inline-block;
    }
    .cat__item--active {
      background: #eee;
    }
    .casestudy__holder--doc:hover .casestudy__header {
      height: 220px;
    }
    .casestudy__holder--doc .casestudy__header {
      height: 220px;
    }
  }
  
  figure {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  .full--width {
    width: 100%;
  }
  .gutter {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .rowgutter {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .zonegutter {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .col--12 {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    float: left;
  }
  .col--12 {
    width: 100%;
  }
  @media only screen and (min-width: 768px) {
    .col__md--4 {
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      float: left;
    }
    .col__md--4 {
      width: 33.33333333%;
    }
    .container {
      width: 720px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .container {
      width: 1002px;
    }
  }
  @media only screen and (min-width: 1230px) {
    .container {
      width: 1200px;
    }
  }
  .n--m {
    margin: 0;
  }
  .strong {
    font-weight: 700;
  }
  .upper {
    text-transform: uppercase;
  }
  .t--c {
    text-align: center;
  }
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .block {
    display: block;
  }
  .inline--block {
    display: inline-block;
  }
  .list--inline {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .list--inline li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  figure img {
    max-width: 100%;
    border: 0;
    height: auto !important;
    transition: all 0.3s;
  }
  figure img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    transition: all 0.3s;
  }
  [class^="icon-"]:before {
    font-family: simicon;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-right-1:before {
    content: "\f178";
  }
  .small {
    font-size: 0.8em;
  }
  .medium {
    font-size: 0.9em;
  }
  .bg--blue {
    background-color: #1d9ad6;
  }
  .bg--white {
    background-color: #fff;
  }
  .bg--grey {
    background-color: #a9b6bd;
  }
  a:hover,
  .blue {
    color: #1d9ad6;
  }
  .white {
    color: #fff;
  }
  .overflow {
    overflow: hidden;
  }
  .n-container {
    max-width: 700px;
  }
  .lh13 {
    line-height: 1.3;
  }
  a {
    text-decoration: none;
    color: #111;
  }
  @media only screen and (max-width: 768px) {
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
    .n--m {
      margin: 0;
    }
    .zonegutter {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .cta__icon:last-child {
      border-bottom: 0;
    }
    .box__hotline {
      padding: 0;
      border-radius: 0;
    }
    .cta__icon {
      display: block;
      padding: 5px 10px;
      background-position: 25px 8px;
      margin: 0;
      border-bottom: 1px dotted #ccc;
    }
  }
  /*! CSS Used from: https://cmcts.com.vn/s/0403221/plugin.css */
  .pagination {
    padding-top: 8px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .pagination .results {
    display: none;
  }
  .pagination ul {
    margin: 0;
    padding: 0;
  }
  .inquiry__icon {
    background: url(https://cmcts.com.vn/s/0403221/icon-inquiry.png) 0 4px
      no-repeat;
  }
  .contact__icon {
    background: url(https://cmcts.com.vn/s/0403221/icon-contact.png) 0 4px
      no-repeat;
  }
  a.cta__icon:hover {
    color: #ccc;
  }
  .cta__icon {
    display: inline-block;
    line-height: 32px;
    padding-left: 32px;
    margin: 10px 15px;
    background-size: 24px;
  }
  .cta__global {
    clear: both;
    background-image: url(https://cmcts.com.vn/s/0403221/poly__lines.png);
  }
  .sub__header {
    clear: both;
    background: url(https://cmcts.com.vn/s/0403221/poly__lines.png) #0c8eda;
    z-index: 9;
    padding: 5px 0 3px;
  }
  .sub__header h1 {
    font-size: 22px;
  }
  .sub__header a {
    color: #fff;
    margin-top: -1px;
  }
  @media only screen and (max-width: 768px) {
    .sub__header h1 {
      margin: 5px 0;
      font-size: 16px;
    }
  }
  /*! CSS Used fontfaces */
  @font-face {
    font-family: simicon;
    src: url(https://cmcts.com.vn/static/fonts/simicon.eot?2);
    src: url(https://cmcts.com.vn/static/fonts/simicon.eot?2#iefix)
        format("embedded-opentype"),
      url(https://cmcts.com.vn/static/fonts/simicon.woff2?3) format("woff2"),
      url(https://cmcts.com.vn/static/fonts/simicon.eot.woff?4) format("woff"),
      url(https://cmcts.com.vn/static/fonts/simicon.ttf?4) format("truetype"),
      url(https://cmcts.com.vn/static/fonts/simicon.svg?4#fontello) format("svg");
    font-weight: normal;
    font-display: swap;
    font-style: normal;
  }
  @media screen {
    .other__doc {
      clear: both;
      height: 70px;
      border-bottom: 1px dotted #ccc;
      overflow: hidden;
    }
    .other__thumb {
      margin-left: 10px;
      width: 70px;
    }
  }
  .right {
    float: right;
  }
  .medium {
    font-size: 0.9em;
  }
  a:hover {
    color: #1d9ad6;
  }
  a {
    text-decoration: none;
    color: #111;
  }
  