@media all {
    [class^="icon-"] {
        font-family: 'vin_school' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    strong {
        font-weight: bolder;
    }

    img {
        vertical-align: middle;
        border-style: none;
    }

    @media print {

        *,
        *::before,
        *::after {
            text-shadow: none !important;
            box-shadow: none !important;
        }

        img {
            page-break-inside: avoid;
        }

        p {
            orphans: 3;
            widows: 3;
        }
    }

    p {
        margin-bottom: 12px;
    }

    .edu-program__item--overlay .overlay-block .overlay-content .edu-point {
        transform: translateX(0);
        opacity: 1;
    }

    .edu-point {
        padding: 0 20px 20px;
        opacity: 100;
        transform: translateX(-10px);
        transition: all 0.4s ease 0s;
        transition-delay: 0.55s;
    }

    .edu-point__01 .edu-point__icon::before {
        background: #fcc325;
        background: linear-gradient(to bottom, #fcc325 0%, #fb6909 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcc325', endColorstr='#fb6909', GradientType=0);
    }

    .edu-point__01 .edu-point__bridge {
        background: #fcc325;
        background: linear-gradient(to bottom, #fcc325 0%, #fb3b09 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcc325', endColorstr='#fb3b09', GradientType=0);
    }

    .edu-point__02 .edu-point__icon::before {
        background: #fc2525;
        background: linear-gradient(to bottom, #fc2525 0%, #af0000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc2525', endColorstr='#af0000', GradientType=0);
    }

    .edu-point__02 .edu-point__bridge {
        background: #f21b0f;
        background: linear-gradient(to bottom, #f21b0f 0%, #a0d4ed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f21b0f', endColorstr='#a0d4ed', GradientType=0);
    }

    .edu-point__03 .edu-point__icon::before {
        background: #a0d4ed;
        background: linear-gradient(to bottom, #a0d4ed 0%, #3f8cb1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0d4ed', endColorstr='#3f8cb1', GradientType=0);
    }

    .edu-point__03 .edu-point__bridge {
        background: #384a91;
        background: linear-gradient(45deg, #384a91 0%, #a0d4ed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#384a91', endColorstr='#a0d4ed', GradientType=1);
    }

    .edu-point__04 .edu-point__icon::before {
        background: #6479cc;
        background: linear-gradient(to bottom, #6479cc 0%, #343d60 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6479cc', endColorstr='#343d60', GradientType=0);
    }

    .edu-point__item {
        position: relative;
        padding: 20px 0;
        min-height: 110px;
    }

    .edu-point__item::after {
        content: "";
        clear: both;
        display: table;
    }

    .edu-point__text {
        float: left;
        margin-left: 110px;
    }

    .edu-point__icon {
        /* float: left; */
        margin: 5px 0 0;
        position: relative;
    }

    .edu-point__icon::before,
    .edu-point__icon .edu-point__line {
        content: "";
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 18px;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .edu-point__icon::after {
        content: "";
        display: block;
        width: 55px;
        height: 60px;
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 0;
        background: linear-gradient(to bottom, #4f4f4f 0%, rgba(125, 185, 232, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f', endColorstr='#007db9e8', GradientType=0);
        filter: blur(4px);
        opacity: 0.36;
        transform: rotate(-45deg);
    }

    .edu-point__icon [class^="icon-"] {
        color: #fff;
        font-size: 3.5rem;
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 3;
    }

    .edu-point__bridge {
        display: none;
    }

    .edu-point__line {
        display: none;
    }

    @media (min-width: 992px) {
        .edu-point {
            padding: 50px 20px 20px;
        }

        .edu-point__item {
            position: relative;
            padding: 10px 0;
            margin-top: -30px;
        }

        .edu-point .edu-point__line {
            transform: none;
            z-index: 1;
        }

        .edu-point .edu-point__line:before {
            content: "";
            display: block;
            width: 90px;
            height: 2px;
            background: #CECECE;
            top: 50%;
            transform: translateY(-50%);
            left: 60px;
            position: absolute;
            z-index: 1;
        }

        .edu-point .edu-point__line:after {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #CECECE;
            top: 50%;
            transform: translateY(-50%);
            left: 150px;
            position: absolute;
            z-index: 1;
        }

        .edu-point__item--odd {
            padding-left: 80px;
        }

        .edu-point__item--odd:before {
            left: 100px;
        }

        .edu-point__item--odd:after {
            left: 220px;
        }

        .edu-point__item--odd .edu-point__bridge {
            transform: rotate(45deg);
            top: 20px;
            left: 60px;
        }

        .edu-point__item--odd .edu-point__text {
            left: 230px;
        }

        .edu-point__item--odd .edu-point__line:before {
            width: 72px;
        }

        .edu-point__item--odd .edu-point__line::after {
            left: 120px;
        }

        .edu-point__text {
            float: none;
            position: absolute;
            top: 20px;
            left: 180px;
            margin-left: 10px;
        }

        .edu-point__icon {
            float: none;
        }

        .edu-point__bridge {
            display: block;
            width: 30px;
            height: 120px;
            transform: rotate(-45deg);
            background: #c33022;
            background: linear-gradient(0deg, #c33022 0%, #fdbb2d 100%);
            position: absolute;
            top: 30px;
            left: 60px;
            z-index: 1;
        }
    }
}

/*! CSS Used from: Embedded */
.lazyloaded {
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 0ms;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

#video ul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#video li {
    float: left;
    border: 1px solid white;
    transform: skew(-20deg);
    border-radius: 10px;
    margin: 0 10px;
}

#video li.active,
#video li:hover {
    background-color: #ed2124;
}

#video li a {
    display: inline-block;
    color: white;
    padding: 10px 34px;
    margin: 0 10px;
    transform: skew(20deg);
}

#video.infor h2.title-section {
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 0px 0px #fff, 0px 0px 0 #fff, 0px 0px 0 #fff, 0px 0px 0 #fff;
}

/* sangtaosacviet.com - code 3 */
#stsv-02 h3.tde {
    text-align: center;
    margin: 45px 0;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

#stsv-02 h3.tde span {
    background: #8CC63F;
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    color: white;
    position: relative;
    display: inline-block;
    margin: 0;
    z-index: 45;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #8bb54b;
}

#stsv-02 h3.tde :before,
#stsv-02 h3.tde :after {
    content: "";
    background: url(https://sangtaosacviet.com/wp-content/uploads/2017/09/hd-stsv.png);
    width: 87px;
    height: 50px;
    position: absolute;
    top: 19px;
    z-index: -1;
}

#stsv-02 h3.tde :before {
    left: -44px;
}

#stsv-02 h3.tde :after {
    transform: rotateY(180deg);
    right: -44px !important;
}

@media screen and (max-width:767px) {
    #video li {
        transform: skew(0deg);
        margin-bottom: 8px;
    }

    #video li a {
        padding: 5px;
        line-height: 13px;
        font-size: 12px;
        transform: skew(0deg);
        text-align: center;
    }
    .edu-point__text {
        margin-left: 90px;
    }
    .edu-point__item {
        padding-bottom: 0;
    }
}