/*! CSS Used from: https://careers.cmcts.com.vn/css/P6jV0mUNsvKg82bP6E3RvDDAWvm5HQVdwTcbBb8JMa5P44Tr4WCEql-O4-QdsI7E?v=f0aIOPBp8MfiFuzs */
[class^="ficon-"],[class*=" ficon-"]{
    font-family:FontAwesome;
    font-weight:normal;
    font-style:normal;
    text-decoration:inherit;
    -webkit-font-smoothing:antialiased;
    margin-right:.3em;
}
 [class^="ficon-"]:before,[class*=" ficon-"]:before{
    text-decoration:inherit;
    display:inline-block;
    speak:none;
}
 [class^="ficon-"],[class*=" ficon-"]{
    display:inline;
    width:auto;
    height:auto;
    line-height:normal;
    vertical-align:baseline;
    background-image:none;
    background-position:0% 0%;
    background-repeat:repeat;
    margin-top:0;
}
 .ficon-search:before{
    content:"\f002";
}
 .ficon-bolt:before{
    content:"\f0e7";
}
 [class^="ficon-"],[class*=" ficon-"]{
    font-family:FontAwesome;
    font-weight:normal;
    font-style:normal;
    text-decoration:inherit;
    -webkit-font-smoothing:antialiased;
    margin-right:.3em;
}
 [class^="ficon-"]:before,[class*=" ficon-"]:before{
    text-decoration:inherit;
    display:inline-block;
    speak:none;
}
 [class^="ficon-"],[class*=" ficon-"]{
    display:inline;
    width:auto;
    height:auto;
    line-height:normal;
    vertical-align:baseline;
    background-image:none;
    background-position:0% 0%;
    background-repeat:repeat;
    margin-top:0;
}
 .ficon-search:before{
    content:"\f002";
}
 .ficon-bolt:before{
    content:"\f0e7";
}
 .-ap{
    font-family:'ap'!important;
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
 .icon-location3:before{
    content:"\e642";
}
 .icon-business-card:before{
    content:"\ea24";
}
 .icon-monetization_on:before{
    content:"\e263";
}
 .icon-access_time:before{
    content:"\e08e";
}
 .icon-dot-single:before{
    content:"\e6ca";
}

 .btn-apply{
    padding:7px 15px;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    white-space:nowrap;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

 .section{
    padding:60px 0px;
}
 .section__head{
    text-align:center;
    margin:0px auto;
    margin-top:20px;
    margin-bottom:20px;
}
 .section__head .section--title{
    color:#173865;
    font-size:32px;
    font-weight:normal;
    display:inline-block;
    line-height:40px;
    margin-bottom:20px;
}
 .section__head .section--line{
    background-color:#173865;
    width:70px;
    height:4px;
    margin:0px auto;
}
 #sidebar h3{
    font-size:20px;
    font-weight:normal;
    color:#3a3f44;
    margin-bottom:10px;
    padding-bottom:10px;
}
 .section-jobs .row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
}
 .section-jobs .col-3{
    width:25%;
    padding:0px 15px;
}
 .section-jobs .col-9{
    width:75%;
    padding:0px 15px;
}
 .list-jobs .item-job{
    padding:15px 10px;
    width:100%;
    position:relative;
    border:1px dashed #e5e5e5;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding-right:160px;
    margin-bottom:15px;
}
 .list-jobs{
    margin-bottom:0px;
}
 .list-jobs .item-job:hover{
    background-color:#f9f9f9;
}
 .list-jobs .item-job .cta{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    position:absolute;
    top:15px;
    right:10px;
    margin-top:10px;
}
 .list-jobs .item-job .cta .btn-apply{
    padding:8px 20px;
    border:1px solid #173865;
    color:#fff;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    font-size:13px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background-color:#173865;
}
 .list-jobs .item-job .cta .btn-apply:hover{
    box-shadow:0px -2px 0px rgba(0, 0, 0, 0.2) inset;
}
 .list-jobs .item-job .name-job{
    margin-bottom:10px;
}
 .list-jobs .item-job .name-job span.hot-job{
    display:none;
}
 .list-jobs .item-job.hot .name-job span.hot-job{
    color:#fff;
    display:inline-block;
    font-size:13px;
    font-weight:bold;
    padding:5px 10px;
    background-color:#de1111;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    text-transform:uppercase;
}
 .list-jobs .item-job .title{
    font-size:16px;
    line-height:22px;
    margin-bottom:5px;
}
 .list-jobs .item-job.hot .name-job .title a{
    color:#de1111;
}
 .list-jobs .item-job .title a{
    color:#333;
    font-size:16px;
    display:block;
    font-weight:bold;
    text-transform:uppercase;
}
 .list-jobs .item-job .title a:hover{
    color:#173865;
}
 .list-jobs .item-job .info{
    font-size:13px;
    margin-bottom:10px;
}
 .list-jobs .item-job .info .-ap{
    margin-right:5px;
    color:#747b81;
}
 .list-jobs .item-job .info .icon-dot-single{
    margin-right:0;
}
 .list-jobs .item-job .info a{
    color:#747b81;
}
 #alljobs{
    clear:both;
    padding-top:0px;
}
 @media (max-width: 767px){
     .section-jobs .sidebar,.section-jobs .list-jobs{
        width:100%;
        float:none;
    }
}
 .search-form{
    position:relative;
    text-align:center;
    margin-bottom:40px;
    -webkit-transition-property:padding;
    -moz-transition-property:padding;
    -o-transition-property:padding;
    transition-property:padding;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    transition-duration:0.3s;
    -webkit-transition-timing-function:ease;
    -moz-transition-timing-function:ease;
    -o-transition-timing-function:ease;
    transition-timing-function:ease;
}
 .search-form .form-group{
    position:relative;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
 .search-form .form-control{
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:10px 15px;
    background-color:white;
    border:1px solid #e5e5e5;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    height:45px;
}
.search-form .form-control:focus {
    $istroke:$rgba(#173865, 0.75);
}
 .search-form .form-group.box-input{
    width:100%;
    display:inline-block;
    vertical-align:middle;
}
 .search-form .form-group.-button{
    margin-right:0;
    width:15.17857%;
    text-align:left;
    display:inline-block;
    vertical-align:middle;
    position:absolute;
    right:0px;
    top:0px;
}
 .search-form .form-group.-button .btn-search{
    width:100%;
    text-align:center;
    display:inline-block;
    color:#fff;
    font-weight:bold;
    ;
     -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background-color:#173865;
    height:45px;
    line-height:28px;
    cursor:pointer;
}
.search-form .form-group.-button .btn-search:hover{
    opacity:0.85;
    filter:alpha(Opacity:85);
}
 .check-action input{
    opacity:0;
    filter:alpha(Opacity:0);
    position:absolute;
    display:block;
    width:100%;
    z-index:2;
    height:100%;
    cursor:pointer;
}
 .check-action{
    display:block;
    position:relative;
    color:#747b81;
}
 .check-action:hover{
    color:#173865;
}
 .check-action:hover .icon{
    color:#173865;
}
 .check-action .icon{
    font-family:'FontAwesome'!important;
    margin-right:10px;
}
 .check-action .icon:before{
    content:"\f096";
}
 .check-action input:checked+.icon:before{
    content:"\f046";
    color:#173865;
}
 #sidebar .title-cat{
    font-size:20px;
    font-weight:normal;
    color:#3a3f44;
    margin-bottom:10px;
    padding-bottom:10px;
}
 #sidebar .list-category{
    margin-bottom:20px;
}
 #sidebar .list-category .list{
    padding-left:5px;
}
 #sidebar .list-category .list.scrollable{
    overflow:hidden;
    max-height:210px;
}
 #sidebar .list-category .list.scrollable:hover{
    overflow-y:scroll;
    transition:all .2s ease;
}
 #sidebar .list-category .check-action{
    margin-bottom:10px;
    color:#000;
}
 .baseui.button{
    font-size:13px;
    font-weight:500;
    text-align:center;
    cursor:pointer;
    padding:10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -webkit-transition-property:opacity;
    -moz-transition-property:opacity;
    -o-transition-property:opacity;
    transition-property:opacity;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
    -o-transition-duration:.3s;
    transition-duration:.3s;
    -webkit-transition-timing-function:ease;
    -moz-transition-timing-function:ease;
    -o-transition-timing-function:ease;
    transition-timing-function:ease;
    -webkit-transition-property:background-color;
    -moz-transition-property:background-color;
    -o-transition-property:background-color;
    transition-property:background-color;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
    -o-transition-duration:.3s;
    transition-duration:.3s;
    -webkit-transition-timing-function:ease;
    -moz-transition-timing-function:ease;
    -o-transition-timing-function:ease;
    transition-timing-function:ease;
    margin-bottom:15px;
}
 .baseui.button.fluid{
    display:block;
    width:100%;
}
 .baseui.button.main{
    color:#fff;
    background-color:#173865;
    border:1px solid #173865;
}
 .baseui.input{
    position:relative;
    font-weight:normal;
    font-style:normal;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    color:rgba(0, 0, 0, 0.87);
    margin-bottom:15px;
}
 .baseui.input>input{
    text-align:left;
    max-width:100%;
    margin:0em;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    color:#FFFFFF;
    -webkit-box-flex:1;
    -ms-flex:1 0 auto;
    flex:1 0 auto;
    outline:none;
    padding:0.67857143em 1em;
    color:rgba(0, 0, 0, 0.87);
    box-shadow:none;
    border:1px solid #dedede;
}
 .baseui.input{
    width:100%;
}
 .baseui.icon.input>i.icon{
    cursor:default;
    position:absolute;
    text-align:center;
    opacity:0.5;
    filter:alpha(Opacity:50);
    line-height:1;
    top:0px;
    right:0px;
    margin:0em;
    height:100%;
    width:2.67142857em;
}
 .baseui.icon.input>i.icon:before,.baseui.icon.input>i.icon:after{
    position:absolute;
    text-align:center;
    width:100%;
    left:0;
    top:50%;
    margin-top:-0.5em;
}
 #locations::-webkit-scrollbar,#departments::-webkit-scrollbar{
    width:.5em;
}
 #locations::-webkit-scrollbar-track,#departments::-webkit-scrollbar-track{
    background-color:rgba(0, 0, 0, .05);
}
 #locations::-webkit-scrollbar-thumb,#departments::-webkit-scrollbar-thumb{
    background-color:#173865;
    outline:1px solid #173865;
}
/*! CSS Used fontfaces */
 @font-face{
    font-family:'FontAwesome';
    src:url('https://careers.cmcts.com.vn/appimg/apfont/font.awesome.3.2.1/fontawesome-webfont.eot?v=3.2.1');
    src:url('https://careers.cmcts.com.vn/appimg/apfont/font.awesome.3.2.1/fontawesome-webfont.eot#iefix&v=3.2.1') format('embedded-opentype'),url('https://careers.cmcts.com.vn/appimg/apfont/font.awesome.3.2.1/fontawesome-webfont.woff?v=3.2.1') format('woff'),url('https://careers.cmcts.com.vn/appimg/apfont/font.awesome.3.2.1/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),url('https://careers.cmcts.com.vn/appimg/apfont/font.awesome.3.2.1/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight:normal;
    font-style:normal;
}
 @font-face{
    font-family:'FontAwesome';
    src:url('https://careers.cmcts.com.vn/appimg/apfont/font.awesome.3.2.1/fontawesome-webfont.eot?v=3.2.1');
    src:url('https://careers.cmcts.com.vn/appimg/apfont/font.awesome.3.2.1/fontawesome-webfont.eot#iefix&v=3.2.1') format('embedded-opentype'),url('https://careers.cmcts.com.vn/appimg/apfont/font.awesome.3.2.1/fontawesome-webfont.woff?v=3.2.1') format('woff'),url('https://careers.cmcts.com.vn/appimg/apfont/font.awesome.3.2.1/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),url('https://careers.cmcts.com.vn/appimg/apfont/font.awesome.3.2.1/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight:normal;
    font-style:normal;
}
 @font-face{
    font-family:'ap';
    src:url('https://careers.cmcts.com.vn/appimg/apfont/ap/ap.eot?pmlk9e');
    src:url('https://careers.cmcts.com.vn/appimg/apfont/ap/ap.eot#iefixpmlk9e') format('embedded-opentype'), url('https://careers.cmcts.com.vn/appimg/apfont/ap/ap.ttf?pmlk9e') format('truetype'), url('https://careers.cmcts.com.vn/appimg/apfont/ap/ap.woff?pmlk9e') format('woff'), url('https://careers.cmcts.com.vn/appimg/apfont/ap/ap.svg?pmlk9e#ap') format('svg');
    font-weight:normal;
    font-style:normal;
}

.section-whychoose{
    background-color:#173865;
    color:#fff;
}
 .section-whychoose .section__head .section--title{
    color:#fff;
}
 .whychoose__item{
    width:22.25%;
    margin-right:3%;
    float:left;
    text-align:center;
}
 .whychoose__item:nth-child(4n+4){
    margin-right:0px;
}
 .whychoose__item .item--image img{
    height:50px;
}
 .whychoose__item .item--title{
    margin-top:20px;
    margin-bottom:10px;
    font-size:17px;
    line-height:22px;
}
 .whychoose__item .item--desc{
    line-height:22px;
    text-align:center;
}
 @media (max-width: 767px){
     .whychoose-content .whychoose__item{
        width:100%;
        float:none;
        margin-right:0px;
        margin-bottom:5%;
    }
}
.pointer{
    cursor:pointer!important;
}
 .hidden{
    display:none;
}
 .center{
    text-align:center;
}
 .xo{
    overflow:hidden;
}
 .red{
    color:#CC1111!important;
}
 .xo{
    overflow:hidden;
}
 .hidden{
    display:none;
}
 .full-mask{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}
 .-ap{
    font-family:'ap'!important;
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
 .icon-arrow-right3:before{
    content:"\e095";
}
 .icon-facebook2:before{
    content:"\e9a6";
}
 .icon-linkedin2:before{
    content:"\e9da";
}
 #appform .wrapper{
    background-color:#fff;
    padding:25px 0;
    margin-top:40px;
    border-top:2px dotted rgba(0, 0, 0, 0.1);
}
 #appform h1{
    font-weight:300;
    font-size:36px;
    padding-bottom:30px;
}
 #appform .form .row{
    padding-bottom:25px;
}
 #appform .form .row .label{
    color:#666;
    font-weight:bold;
    padding-bottom:8px;
}
 #appform .form .row-collapse .label{
    color:#666;
    font-weight:bold;
    padding-bottom:8px;
}
 #appform .form .row .input input{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    display:block;
    padding:0;
    margin:0;
    border:none;
    background:transparent;
}
 #appform .form .row .input input{
    padding:11px 13px;
    border:1px solid #ccc;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background-color:#fff;
    -moz-box-shadow:inset 1px 1px 1px #f8f8f8;
    -webkit-box-shadow:inset 1px 1px 1px #f8f8f8;
    box-shadow:inset 1px 1px 1px #f8f8f8;
}
 #appform .form .submit{
    background-color:#7abd1a;
    padding:15px 0;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    font-weight:500;
    font-size:16px;
    position:relative;
    text-align:center;
    color:#fff;
    cursor:pointer;
    font-weight:500;
    margin-top:30px;
}
 #appform .form .submit:hover{
    background-color:#2599dc;
}
 #appform .form .upload{
    position:relative;
    border:2px dashed #ccc;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    margin-top:10px;
}
 #appform .form .upload:hover{
    background-color:#f8f8f8;
}
 #appform .form .upload .text{
    position:relative;
    text-align:center;
    font-size:13px;
    z-index:1!important;
    padding:20px 0;
}
 #appform .form .upload .text .more{
    font-size:20px;
    font-weight:300;
    color:#999;
    padding-top:4px;
}
 #appform .form .upload input{
    display:block;
    position:absolute;
    white-space:nowrap;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    display:block;
    padding:0;
    margin:0;
    border:none;
    background:transparent;
    width:100%;
    height:100%;
    z-index:1001;
    opacity:0;
    filter:alpha(Opacity:0);
    top:0px;
}
 #job-detail{
    padding-top:80px;
}
 .sidebar-article{
    width:30%;
    float:left;
}
 .sidebar-article .desc-job,.sidebar-article .box-share{
    border:1px solid #e5e5e5;
    position:relative;
    clear:both;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
 .sidebar-article .desc-job:after,.sidebar-article .box-share:after{
    position:absolute;
    width:100%;
    bottom:0px;
    left:0px;
    height:2px;
    background-color:#e5e5e5;
    content:"";
}
 .sidebar-article .ctas{
    margin:30px 0px;
}
 .sidebar-article .ctas .btn-apply{
    display:block;
}
 #article{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    float:right;
    padding-bottom:60px;
    line-height:25px;
    width:65%;
}
 .sidebar-article .desc-job{
    display:table;
    width:100%;
}
 .sidebar-article .desc-job .desc{
    line-height:25px;
    padding:10px 20px;
    border-bottom:1px solid #e5e5e5;
}
 .sidebar-article .desc-job .desc a{
    color:#747b81;
}
 .ctas .btn-apply{
    padding:10px 40px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background-color:#173865;
    color:#fff;
    position:relative;
    clear:both;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    font-weight:bold;
}
 .ctas .btn-apply:hover:after{
    content:"";
    bottom:0px;
    left:0px;
    height:3px;
    position:absolute;
    width:100%;
    background:rgba(0,0,0,0.2);
}
 .sidebar-article .desc-job .desc span.name{
    font-weight:bold;
    display:block;
}
 .box-share{
    text-align:center;
    position:relative;
    margin-top:20px;
    padding:20px;
}
 .box-share .name{
    color:#888;
    margin-bottom:20px;
}
 .box-share .btn-share{
    width:47%;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    line-height:40px;
    text-align:center;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display:inline-block;
    position:relative;
    color:#747b81;
    padding-left:30px;
    background-color:#fff;
    height:40px;
    border:1px solid rgba(0, 0, 0, 0.1);
}
 .box-share .btn-share.first{
    float:left;
}
 .box-share .btn-share span{
    position:absolute;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    top:0px;
    line-height:40px;
    width:30px;
    height:100%;
    border-right:1px solid rgb(255 255 255 / 28%);
    left:0px;
}
 .box-share .btn-share:hover{
    opacity:0.8;
    filter:alpha(Opacity:80);
}
 .box-share .btn-share.-fb{
    color:#fff;
    background-color:#173865;
}
 .box-share .btn-share.-mail{
    color:#fff;
    background-color:#173865;
}
 .article-header{
    margin-bottom:30px;
}
 .article-header .detail-title{
    color:#173865;
    font-size:24px;
    margin-bottom:15px;
    text-transform:uppercase;
}
 .article .content-article{
    line-height:22px;
}
 .article .content-article div,.article .content-article p{
    margin-bottom:15px;
}
 .list-related{
    padding:40px 0px;
}
 .list-related .name{
    font-size:18px;
    font-weight:bold;
    margin-bottom:20px;
}
 .list-related .item{
    margin-bottom:10px;
}
 .list-related .item>a{
    display:block;
    font-size:16px;
    line-height:20px;
    margin-bottom:5px;
}
 .list-related .item{
    padding:15px 0px;
    border-bottom:1px dotted #e5e5e5;
}
 .list-related .btn-viewall{
    font-weight:bold;
    color:#173865;
    margin-top:20px;
    border:1px solid #173865;
    padding:10px 20px;
    text-align:center;
    display:block;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
 .list-related .btn-viewall:hover{
    background-color:#173865;
    color:#fff;
}
 #appform .form .submit{
    background-color:#173865;
}
 #appform .form .submit:hover{
    background:rgba(43,21,119,.9);
}
 #appform .form .upload input{
    top:0px;
}
 #appform .form .submit{
    background-color:#173865;
}
 #appform h1{
    line-height:35px;
}
 #appform .form .submit:hover{
    background:rgba(43,21,119,.8);
}