
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
}
@media print {
    *,
    *::before,
    *::after {
    text-shadow: none !important;
    box-shadow: none !important;
    }
    a:not(.btn) {
    text-decoration: underline;
    }
    .container {
    min-width: 992px !important;
    }
}
ul {
    padding-left: 18px;
}
.vsc-top-nav {
    background-color: #a4a4a4;
    margin-bottom: 50px;
}
.vsc-top-nav .nav-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #fff;
}
.vsc-top-nav .nav-item:last-child,
.vsc-top-nav .nav-item:nth-last-of-type(-n + 2):not(:nth-child(even)) {
    border-bottom: none;
}
.vsc-top-nav .nav-item.current_page_item .nav-link {
    background-color: #343d60;
    border-radius: 0 0 14px 14px;
}
.vsc-top-nav .nav-link {
    height: 100%;
    padding: 15px 5px;
    color: #fff;
    font-weight: 700;
    border-radius: 0;
    text-align: center;
}
.vsc-top-nav .nav-link:hover,
.vsc-top-nav .nav-link:focus {
    color: #fff;
}
@media (min-width: 992px) {
    .vsc-top-nav {
    margin-bottom: 50px;
    }
    .vsc-top-nav .nav-item {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    padding: 0;
    border-bottom: none;
    }
    .vsc-top-nav .nav-item.current_page_item .nav-link {
    position: relative;
    border-radius: 0;
    }
    .vsc-top-nav .nav-item.current_page_item .nav-link:after {
    content: "";
    height: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: inherit;
    border-radius: 0 0 14px 14px;
    z-index: 9;
    }
}
.vsc-top-nav {
margin-bottom: 25px !important;
}
  

.faces_media {
	width: 100%;
}
.faces_content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 16px;
	background: rgba(237, 33, 36, 0.87);
	display: block;
	color: var(--color-white);
	transition: all 0.3s linear;
	transform: translateY(101%);
	overflow-y: auto;
}
.faces_content p {
	margin: 0;
    color: white;
}
.faces_item {
	break-inside: avoid;
	margin: 0;
	display: grid;
	grid-template-rows: 1fr auto;
	margin-bottom: 10px;
	/* animation: showToTop 1s linear; */
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
}
.faces_name {
	margin: 0;
	font-size: 2rem;
	font-weight: 600;
}
.faces_school {
	font-size: 1.4rem;
	margin: 0;
}
.faces_info {
	padding: 8px 15px;
	background: #173865;
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
    min-height: 88px;
}
.faces_body {
	position: relative;
	overflow: hidden;
}
.faces_body:hover .faces_content {
	text-decoration: none;
	transform: translateY(0);
}
.faces_body:hover .faces_info {
	display: none;
}
.faces_nameHover {
	font-size: 2.4rem;
	font-weight: 700;
}
@media (max-width: 767px) {
	.faces_nameHover {
		font-size: 1.6rem;
	}
  .form#form_register {
    background-image: url(/static/img/toa-nha-trung-hoc.jpg) !important;
    background-color: #ed2124 !important;
    color: #ed2124 !important;
    display: block !important;
  }
}
.faces_classHover,
.faces_schoolHover {
	font-style: italic;
	font-weight: 700;
	font-size: 1.8rem;
	margin: 0;
}
@media (max-width: 767px) {
	.faces_classHover,
	.faces_schoolHover {
		font-size: 1.4rem;
	}
}
.faces_giathuong {
	margin-top: 1.8rem;
	font-style: italic;
}
.faces_item:nth-child(4) .faces_media .entry-thumbnail {
	position: relative;
}
.faces_item:nth-child(4) .faces_media .entry-thumbnail::after {
	content: "";
	display: block;
	padding-top: 70%;
}
.faces_item:nth-child(4) .faces_media .entry-thumbnail img {
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	object-fit: cover;
}
@media (max-width: 767px) {
	.faces_item:nth-child(4) .faces_media .entry-thumbnail {
		position: relative;
	}
	.faces_item:nth-child(4) .faces_media .entry-thumbnail::after {
		content: "";
		display: block;
		padding-top: 100%;
	}
	.faces_item:nth-child(4) .faces_media .entry-thumbnail img {
		position: absolute;
		top: 0%;
		left: 0;
		width: 100%;
		height: 100%;
		margin: auto;
		object-fit: cover;
	}
	.faces_info {
		position: relative;
	}
	.faces_name {
		font-size: 1.6rem;
	}
	.faces_school {
		font-size: 1.2rem;
	}
}
.faces_giathuongItem {
  padding-left: 25px;
  position: relative;
}
.faces_giathuongItem::before {
  position: absolute;
  left: 0;
}
/*! CSS Used keyframes */
@keyframes showToTop {
  from {
    transform: translateY(-100%) scaleY(0);
    transform-origin: top;
    opacity: 0;
  }
  to {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
}
/*! CSS Used from: https://fschool.fpt.edu.vn/wp-content/themes/fpt-theme/style.css?ver=1653963772 ; media=all */
@media all {
    .form#form_register {
      display: grid;
      grid-template-columns: 1fr 1fr;
      color: var(--color-white);
      background: linear-gradient(
        270deg,
        #ed2124 33.12%,
        rgb(239 70 72 / 85%) 43.78%,
        rgb(237 79 81 / 75%) 55.59%,
        rgb(215 103 104 / 65%) 64.73%,
        rgba(255, 255, 255, 0.18) 99.98%
      ),
      url(/static/img/toa-nha-trung-hoc.jpg);
      background-size: cover;
      color: white;
    }
    .form__container {
      grid-column: 2;
      margin: 3.5vw 6.6vw 3.5vw 0;
    }
    .form__title {
      font-weight: 600;
    }
    .form__desc {
      font-size: 1.4rem;
      margin-bottom: 4rem !important;
    }
    .form__content {
      color: var(--color-white) !important;
    }
    .form__content:focus {
      color: var(--color-dark) !important;
    }
    .form select,
    .form input {
      background: rgba(255, 255, 255, 0.5);
    }
    .form label {
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: 1.5px;
    }
    .form label::after {
      color: var(--color-white) !important;
    }
    .form__btn {
      padding: 7px 40px !important;
      font-size: 1.4rem !important;
      font-weight: 600 !important;
      background-color: var(--color-white) !important;
      color: var(--color-orange) !important;
    }
    @media (max-width: 767px) {
      .form {
        display: block;
      }
      .form .form__container {
        margin: 0;
        padding: 2rem;
      }
    }
  }
  /*! CSS Used from: Embedded */
  form.fluent_form_3 .ff-btn-submit {
    background-color: #173865 !important;
    color: #ffffff;
  }
  /*! CSS Used from: https://fschool.fpt.edu.vn/wp-content/plugins/fluentform/public/css/fluent-forms-public.css?ver=4.3.18 ; media=all */
  @media all {
    .fluentform .ff-el-group:after,
    .fluentform .ff-el-group:before {
      content: " ";
      display: table;
    }
    .fluentform .ff-el-group:after {
      clear: both;
    }
    @media (min-width: 768px) {
      .frm-fluent-form .ff-t-container {
        display: flex;
        gap: 15px;
        width: 100%;
      }
      .frm-fluent-form .ff-t-cell {
        display: flex;
        flex-direction: column;
        vertical-align: inherit;
        width: 100%;
      }
      .frm-fluent-form .ff-t-cell:first-of-type {
        padding-left: 0;
      }
      .frm-fluent-form .ff-t-cell:last-of-type {
        flex-grow: 1;
        padding-right: 0;
      }
    }
    @media (max-width: 768px) {
      .ff-t-cell {
        margin-left: 0 !important;
      }
    }
    .fluentform .ff-el-group {
      margin-bottom: 20px;
    }
    .fluentform .ff-el-input--label {
      display: inline-block;
      margin-bottom: 5px;
      position: relative;
    }
    .fluentform .ff-el-input--label.ff-el-is-required.asterisk-right label:after {
      color: #f56c6c;
      content: " *";
      margin-left: 3px;
    }
    .fluentform .ff-el-input--label label {
      display: inline-block;
      font-weight: 600;
      line-height: inherit;
      margin-bottom: 0;
    }
    .ff-errors-in-stack {
      display: none;
      margin-top: 15px;
    }
  }
  /*! CSS Used from: https://fschool.fpt.edu.vn/wp-content/plugins/fluentform/public/css/fluentform-public-default.css?ver=4.3.18 ; media=all */
  @media all {
    .fluentform .ff_btn_style {
      border: 1px solid transparent;
      border-radius: 4px;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      padding: 6px 12px;
      position: relative;
      text-align: center;
      transition: background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
    }
    .fluentform .ff_btn_style:focus,
    .fluentform .ff_btn_style:hover {
      opacity: 0.8;
      outline: 0;
      text-decoration: none;
    }
    .fluentform .ff-text-left {
      text-align: left;
    }
    .fluentform .ff-el-form-control {
      background-clip: padding-box;
      background-image: none;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      color: #495057;
      display: block;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 0;
      max-width: 100%;
      padding: 6px 12px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      width: 100%;
    }
    .fluentform .ff-el-form-control:focus {
      background-color: #fff;
      border-color: #80bdff;
      color: #495057;
      outline: none;
    }
    .fluentform .ff-el-form-control::-moz-placeholder {
      color: #868e96;
      opacity: 1;
    }
    .fluentform .ff-el-form-control::placeholder {
      color: #868e96;
      opacity: 1;
    }
    .fluentform .ff-el-form-control:disabled {
      background-color: #e9ecef;
      opacity: 1;
    }
    select.ff-el-form-control:not([size]):not([multiple]) {
      height: 38px;
    }
    .fluentform {
      font-family: inherit;
    }
    .fluentform * {
      box-sizing: border-box;
    }
    .fluentform label {
      font-weight: 400;
    }
  }
  #fluentform_3 input,
  #fluentform_3 select {
    color: #173865 !important;
  }