<?php if($position=="bottom") { ?>
<div class="col-xs-12 col-sm-4 show-tablet hide-mobile">
		<div class="fb-page" data-href="<?php echo $page_url; ?>" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-height="<?php echo $height; ?>"><blockquote cite="<?php echo $page_url; ?>" class="fb-xfbml-parse-ignore"><a href="<?php echo $page_url; ?>">Facebook Fanpage</a></blockquote></div>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</div>
<?php } else { ?>
	<h2 class="h4 title-section title-decoration"><?php echo $this->language->get('text_connect_us'); ?></h2>
	<div class="show-tablet hide-mobile rowgutter">
		<div class="fb-page" data-href="<?php echo $page_url; ?>" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-height="<?php echo $height; ?>"><blockquote cite="<?php echo $page_url; ?>" class="fb-xfbml-parse-ignore"><a href="<?php echo $page_url; ?>">Facebook Fanpage</a></blockquote></div>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1';
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	</div>
<?php } ?>