<div class="box faq_module round">
	<h3 class="bg-blue h4 n-mt mostviews_title text-center white"><span class="white">Hỏi đáp chuyên gia</span></h3>
	<div class="faq_module_content">
		<form name="form-order" id="form-order" method="post" action="faqs">
				<input type="text" value="" name="name" class="full-width"  placeholder="Họ tên (*)" />
				<input type="text" value="" name="phone" class="full-width"  placeholder="Số điện thoại (*)" />
				<input type="text" value="" name="email" class="full-width"  placeholder="Email" />
				<input type="text" value="" name="title" class="full-width"  placeholder="Tiêu đề" />
				<textarea class="full-width" rows="3" name="question" placeholder="Câu hỏi (*)"></textarea>
				<button type="submit" class="button white bg-blue right">Gửi câu hỏi <i class="icon-icons-31"></i></button>
				<div class="clearfix"></div>
				<br />
		</form>
	</div>
</div>