<?php
if($position=='footer_menu'){
  echo '<div class="col-lg-2 col-sm-4 catalogF clearfix sort_order'. $sort_order .'">';
  echo '<lable class="lable"><a href="javascript:;">'.$menuname.'</a></lable>';
	echo $menu_ul;
  echo '</div>';
}else{
	echo $menu_ul;
}

?>
