<div class="swiper-container greybborder" id="slideshow">
      <div class="swiper-wrapper">
      <?php foreach ($banners as $banner) { ?>
  	<div class="swiper-slide">
  	    <a target="_blank" class="block" href="<?php echo $banner['link']; ?>"><img class="block lazy" src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" /></a>
  	</div>
      <?php } ?>
  </div>
</div>

<style>
.swiper-pagination-bullet {
  width: <?php echo 100/count($banners); ?>% !important;
}
.td-header-sp-recs{
  height: 90px;
}

</style>


<script>
var menu = [];
<?php /*foreach ($banners as $banner) { ?>
menu.push('<?php echo $banner["title"]; ?>');
<?php } */?>
</script>
