@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?14703176');
  src: url('../font/fontello.eot?14703176#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?14703176') format('woff2'),
       url('../font/fontello.woff?14703176') format('woff'),
       url('../font/fontello.ttf?14703176') format('truetype'),
       url('../font/fontello.svg?14703176#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?14703176#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-instagram:before { content: '\e800'; } /* '?' */
.icon-loop-alt:before { content: '\e801'; } /* '?' */
.icon-twitter:before { content: '\e802'; } /* '?' */
.icon-mail:before { content: '\e803'; } /* '?' */
.icon-facebook:before { content: '\e804'; } /* '?' */
.icon-gplus:before { content: '\e805'; } /* '?' */
.icon-vk:before { content: '\e806'; } /* '?' */
.icon-search:before { content: '\e807'; } /* '?' */
.icon-euro:before { content: '\e808'; } /* '?' */
.icon-pound:before { content: '\e809'; } /* '?' */
.icon-dollar:before { content: '\e80a'; } /* '?' */
.icon-rouble:before { content: '\e80b'; } /* '?' */
.icon-login:before { content: '\e80c'; } /* '?' */
.icon-down-dir:before { content: '\e80d'; } /* '?' */
.icon-male:before { content: '\e80e'; } /* '?' */
.icon-cab:before { content: '\e80f'; } /* '?' */
.icon-logout:before { content: '\e810'; } /* '?' */
.icon-box:before { content: '\e811'; } /* '?' */
.icon-suitcase:before { content: '\e812'; } /* '?' */
.icon-user:before { content: '\e813'; } /* '?' */
.icon-edit:before { content: '\e814'; } /* '?' */
.icon-home-outline:before { content: '\e815'; } /* '?' */
.icon-vkontakte:before { content: '\e816'; } /* '?' */
.icon-loop:before { content: '\e817'; } /* '?' */
.icon-cancel:before { content: '\e818'; } /* '?' */
.icon-star:before { content: '\e819'; } /* '?' */
.icon-route:before { content: '\e81a'; } /* '?' */
.icon-clock:before { content: '\e81b'; } /* '?' */
.icon-ok:before { content: '\e81c'; } /* '?' */
.icon-lodging:before { content: '\e81d'; } /* '?' */
.icon-attention:before { content: '\e81e'; } /* '?' */
.icon-check:before { content: '\e81f'; } /* '?' */
.icon-down-open:before { content: '\e820'; } /* '?' */
.icon-plus:before { content: '\e821'; } /* '?' */
.icon-calendar:before { content: '\e822'; } /* '?' */
.icon-pencil:before { content: '\e823'; } /* '?' */
.icon-flight:before { content: '\e824'; } /* '?' */
.icon-child-seats:before { content: '\e825'; } /* '?' */
.icon-at:before { content: '\e826'; } /* '?' */
.icon-percent:before { content: '\e827'; } /* '?' */
.icon-block:before { content: '\e828'; } /* '?' */
.icon-malina:before { content: '\e829'; } /* '?' */
.icon-star-empty:before { content: '\e82a'; } /* '?' */
.icon-users:before { content: '\e82b'; } /* '?' */
.icon-cog:before { content: '\e82c'; } /* '?' */
.icon-speed:before { content: '\e82d'; } /* '?' */
.icon-distance:before { content: '\e82e'; } /* '?' */
.icon-time:before { content: '\e82f'; } /* '?' */
.icon-lock-filled:before { content: '\e830'; } /* '?' */
.icon-info:before { content: '\e831'; } /* '?' */
.icon-up-dir:before { content: '\e832'; } /* '?' */
.icon-phone:before { content: '\e833'; } /* '?' */
.icon-location:before { content: '\e834'; } /* '?' */
.icon-pause:before { content: '\e835'; } /* '?' */
.icon-play:before { content: '\e836'; } /* '?' */
.icon-floppy:before { content: '\e837'; } /* '?' */
.icon-flag:before { content: '\e838'; } /* '?' */
.icon-print:before { content: '\e839'; } /* '?' */
.icon-send:before { content: '\e83a'; } /* '?' */
.icon-move:before { content: '\f047'; } /* '?' */
.icon-left-circled:before { content: '\f0a8'; } /* '?' */
.icon-right-circled:before { content: '\f0a9'; } /* '?' */
.icon-resize-full:before { content: '\f0b2'; } /* '?' */
.icon-docs:before { content: '\f0c5'; } /* '?' */
.icon-menu:before { content: '\f0c9'; } /* '?' */
.icon-money:before { content: '\f0d6'; } /* '?' */
.icon-spinner:before { content: '\f110'; } /* '?' */
.icon-star-half-alt:before { content: '\f123'; } /* '?' */
.icon-direction:before { content: '\f124'; } /* '?' */
.icon-shield:before { content: '\f132'; } /* '?' */
.icon-like:before { content: '\f164'; } /* '?' */
.icon-youtube-play:before { content: '\f16a'; } /* '?' */
.icon-file-pdf:before { content: '\f1c1'; } /* '?' */
.icon-file-excel:before { content: '\f1c3'; } /* '?' */
.icon-paper-plane:before { content: '\f1d8'; } /* '?' */
.icon-wifi:before { content: '\f1eb'; } /* '?' */
.icon-trash:before { content: '\f1f8'; } /* '?' */
.icon-bus:before { content: '\f207'; } /* '?' */
.icon-train:before { content: '\f238'; } /* '?' */
.icon-comment:before { content: '\f27b'; } /* '?' */
.icon-question:before { content: '\f29c'; } /* '?' */
.icon-name-sign:before { content: '\f2c3'; } /* '?' */
.icon-facebook-squared:before { content: '\f30e'; } /* '?' */
