<?php echo $header; ?>
<div class="content-wrapper">
  <section class="content-header">
		<h1><?php echo $heading_title; ?><small>(<?php echo $text_configuration; ?>)</small></h1>
		<ol class="breadcrumb">
			<?php $k=0; foreach ($breadcrumbs as $breadcrumb) { ?>
				<li class="<?php echo $k==count($breadcrumbs)-1 ? 'active':'';?>"><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $k==0 ? '<i class="fa fa-dashboard"></i> ':'';?><?php echo $breadcrumb['text']; ?></a></li>
			<?php $k++; } ?>
		</ol>
	</section>
<?php if ($error_warning) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } ?>
<div class="content">
  <div class="box box-default">
    <div class="box-header">
      <div class="pull-right">
		      <a onclick="location = '<?php echo $cancel; ?>';" class="btn btn-default"><i class="fa fa-reply"></i> <?php echo $button_cancel; ?></a>
		        <a onclick="$('#form').submit();" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> <?php echo $button_save; ?></a>
	     </div>
     </div>
     <div class="box-body">
    <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form">
      <table id="module" class="list">
        <thead>
          <tr>
            <td class="left"><?php echo $entry_title; ?></td>
            <td class="left"><?php echo $entry_cat; ?></td>
            <td class="left"><?php echo $entry_limit; ?></td>
            <td class="left"><?php echo $entry_image; ?></td>
            <td class="left"><?php echo $entry_layout; ?></td>
            <td class="left"><?php echo $entry_position; ?></td>
            <td class="left"><?php echo $entry_status; ?></td>
            <td class="left"><?php echo $entry_sort; ?></td>
            <td class="text-right"><?php echo $entry_sort_order; ?></td>
            <td></td>
          </tr>
        </thead>
        <?php $module_row = 0; ?>
        <?php foreach ($modules as $module) { ?>
        <tbody id="module-row<?php echo $module_row; ?>">
          <tr>
            <td class="left">
            <?php foreach ($languages as $language) { ?>
                <input type="text" name="product_category_module[<?php echo $module_row; ?>][<?php echo $language['language_id']; ?>][title]" value="<?php echo $module[$language['language_id']]['title']; ?>" />
                <img <?php echo count($languages) ==1 ? 'class="hide"':''; ?> src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /><br />
            <?php } ?>
            </td>
            <td class="left">
              <select name="product_category_module[<?php echo $module_row; ?>][cat_p]">
              <option value="0"><?php echo $text_none; ?></option>
              <?php foreach ($categories as $cat) { ?>
              <?php if ($cat['category_id'] == $module['cat_p']) { ?>
              <option value="<?php echo $cat['category_id']; ?>" selected="selected"><?php echo $cat['name']; ?></option>
              <?php } else { ?>
              <option value="<?php echo $cat['category_id']; ?>"><?php echo $cat['name']; ?></option>
              <?php } ?>
              <?php } ?>
              </select>
            </td>
            <td class="left"><input type="text" name="product_category_module[<?php echo $module_row; ?>][limit]" value="<?php echo $module['limit']; ?>" size="2" /></td>
            <td class="left"><input type="text" name="product_category_module[<?php echo $module_row; ?>][image_width]" value="<?php echo $module['image_width']; ?>" size="3" />
             <br /> <input type="text" name="product_category_module[<?php echo $module_row; ?>][image_height]" value="<?php echo $module['image_height']; ?>" size="3" />
              <?php if (isset($error_image[$module_row])) { ?>
              <span class="error"><?php echo $error_image[$module_row]; ?></span>
              <?php } ?></td>
            <td class="left"><select name="product_category_module[<?php echo $module_row; ?>][layout_id]">
                <?php foreach ($layouts as $layout) { ?>
                <?php if ($layout['layout_id'] == $module['layout_id']) { ?>
                <option value="<?php echo $layout['layout_id']; ?>" selected="selected"><?php echo $layout['name']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>
                <?php } ?>
                <?php } ?>
              </select></td>
            <td class="left"><select name="product_category_module[<?php echo $module_row; ?>][position]">
                <?php foreach($positions as $position){ ?>
					<option value="<?php echo $position['value'];?>" <?php echo $position['value']==$module['position'] ? 'selected':'';?>><?php echo $position['text'];?></option>
				  <?php } ?>
              </select></td>
            <td class="left">
            <select name="product_category_module[<?php echo $module_row; ?>][status]">
                <?php if ($module['status']) { ?>
                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                <option value="0"><?php echo $text_disabled; ?></option>
                <?php } else { ?>
                <option value="1"><?php echo $text_enabled; ?></option>
                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                <?php } ?>
              </select>
            </td>
            <td class="left">
                <?php if ($module['sort']) { ?>
                    <select name="product_category_module[<?php echo $module_row; ?>][sort]">
                        <?php foreach($sorts as $sort) { ?>
                        <?php if($sort['value'] == $module['sort']){?>
                            <option value="<?php echo $sort['value']?>" selected="selected" ><?php echo $sort['text']?></option>
                            <?php }else{ ?>
                                <option value="<?php echo $sort['value']?>" ><?php echo $sort['text']?></option>
                            <?php } ?>
                      	<?php } ?>
                      </select>
                <?php } ?><br />
                <?php echo $entry_type; ?>
                <?php if ($module['type']) { ?>
                    <select name="product_category_module[<?php echo $module_row; ?>][type]">
                            <?php if ($module['type']) { ?>
                            <option value="DESC" selected="selected"><?php echo $entry_down; ?></option>
                            <option value="ASC"><?php echo $entry_up; ?></option>
                            <?php } else { ?>
                            <option value="ASC"><?php echo $entry_up; ?></option>
                            <option value="DESC" selected="selected"><?php echo $entry_down; ?></option>
                            <?php } ?>
                      </select>
                <?php } ?>



            </td>
            <td class="text-right"><input type="text" name="product_category_module[<?php echo $module_row; ?>][sort_order]" value="<?php echo $module['sort_order']; ?>" size="3" /></td>
            <td class="left"><a onclick="$('#module-row<?php echo $module_row; ?>').remove();" class="btn btn-default"><i class="fa fa-trash"></i> <?php echo $button_remove; ?></a></td>
          </tr>
        </tbody>
        <?php $module_row++; ?>
        <?php } ?>
        <tfoot>
          <tr>
            <td class="text-right" colspan="10"><a onclick="addModule();" class="btn btn-primary"><i class="fa fa-plus"></i> <?php echo $button_add_module; ?></a></td>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
</div>
</div>
<script type="text/javascript"><!--
var module_row = <?php echo $module_row; ?>;

function addModule() {
	html  = '<tbody id="module-row' + module_row + '">';
	html += '  <tr>';
    html += '<td class="left">';
	<?php foreach ($languages as $language) { ?>
	html += '<input type="text" name="product_category_module[' + module_row + '][<?php echo $language['language_id']; ?>][title]" value="" /> <img <?php echo count($languages) ==1 ? 'class="hide"':''; ?> src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /><br />';
    <?php } ?>
	//html += '    <td class="left"><input type="text" name="product_category_module[' + module_row + '][cat]" value="5" size="1" /></td>';
	html += '<td class="left"><select name="product_category_module[' + module_row + '][cat_p]">';
	html += '<option value="0"><?php echo $text_none; ?></option>';
    html += '<?php foreach ($categories as $cat) { ?><option value="<?php echo $cat['category_id']; ?>"><?php echo $cat['name']; ?></option><?php } ?></select>';
    html += '</select></td>';
	html += '    <td class="left"><input type="text" name="product_category_module[' + module_row + '][limit]" value="5" size="1" /></td>';
	html += '    <td class="left"><input type="text" name="product_category_module[' + module_row + '][image_width]" value="80" size="3" /><br> <input type="text" name="product_category_module[' + module_row + '][image_height]" value="80" size="3" /></td>';
	html += '    <td class="left"><select name="product_category_module[' + module_row + '][layout_id]">';
	<?php foreach ($layouts as $layout) { ?>
	html += '      <option value="<?php echo $layout['layout_id']; ?>"><?php echo $layout['name']; ?></option>';
	<?php } ?>
	html += '    </select></td>';
	html += '    <td class="left"><select name="product_category_module[' + module_row + '][position]">';
	<?php foreach($positions as $position){ ?>
	html += '      <option value="<?php echo $position['value'];?>"><?php echo $position['text'];?></option>';
	<?php } ?>
	html += '    </select></td>';
	html += '    <td class="left"><select name="product_category_module[' + module_row + '][status]">';
    html += '      <option value="1" selected="selected"><?php echo $text_enabled; ?></option>';
    html += '      <option value="0"><?php echo $text_disabled; ?></option>';
    html += '    </select></td>';
	html += '    <td class="left"><select name="product_category_module[' + module_row + '][sort]">';
	<?php foreach($sorts as $sort) { ?>
    html += '    <option value="<?php echo $sort['value']?>" ><?php echo $sort['text']?></option>';
	<?php } ?>
    html += '    </select><br><?php echo $entry_type; ?>';
	html += '    <select name="product_category_module[' + module_row + '][type]">';
    html += '      <option value="ASC" ><?php echo $entry_up; ?></option>';
    html += '      <option value="DESC"><?php echo $entry_down; ?></option>';
    html += '    </select> ';
	html += '	</td>';
	html += '    <td class="text-right"><input type="text" name="product_category_module[' + module_row + '][sort_order]" value="" size="3" /></td>';
	html += '    <td class="left"><a onclick="$(\'#module-row' + module_row + '\').remove();" class="button"><?php echo $button_remove; ?></a></td>';
	html += '  </tr>';
	html += '</tbody>';

	$('#module tfoot').before(html);

	module_row++;
}
//--></script>
<?php echo $footer; ?>
