select {
  text-transform:none;
}
select.flat{
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:right 10px top 7px;
    background-size: 12px 12px;
    color:#333;
    padding:4px 12px;
    width:auto;
    font-family:arial,tahoma;
    font-size:14px;
    text-align:center;
    border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    outline:0;
    cursor:pointer;
    -webkit-transition:0.3s ease all;
       -moz-transition:0.3s ease all;
        -ms-transition:0.3s ease all;
         -o-transition:0.3s ease all;
            transition:0.3s ease all;
}
select.flat:hover{
  opacity:.95;
  background-color:#f3f3f3;
}
.filter-showroom select.flat{
  margin-left:15px;
  width:200px;
}

.short-desc,
.newscontent{
  font-size:16px
}
.success, .warning, .attention, .help {
  padding: 10px;
  margin-bottom: 15px;
  line-height:1.1;
  color: #555;
}
.success {
  color:#fff;
  background: rgb(28, 184, 65);
}
.warning {
  background: rgb(202, 60, 60);
}
.attention {
  background: rgb(223, 117, 20);
}
.required {
  color: #FF0000;
  font-weight: bold;
}
.error {
  display: block;
  color: #FF0000;
  padding: 5px;
}
.help {
  background: rgb(66, 184, 221);
}

.pagination {
  padding-top:8px;
  display:inline-block;
  width:100%;
  margin-bottom:10px;
}
.pagination .active a,
.pagination a:hover {
  background:#A3A3A3;
  color:#fff
}
.pagination a {
  display:inline-block;
  padding:4px 10px;
  text-decoration:none;
  color:#A3A3A3;
  border:1px solid #eee;
}
.pagination b {
  display:inline-block;
  border:1px solid #269BC6;
  padding:4px 10px;
  font-weight:normal;
  text-decoration:none;
  color:#269BC6;
  background:#fff;
}
.pagination .results {
  display:none;
}
.pagination ul{
  width:100%;
  margin:0;
  padding:0
}
.pagination li{
  list-style:none;
  padding:1px;
  margin:0;
}
.pagination li{
  display:inline-block
}

/* end common */
.map p{
  margin:0;
  line-height:1
}
/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */.lSSlideWrapper,.lSSlideWrapper .lSFade{position:relative}.lSSlideWrapper .lSSlide,.lSSlideWrapper.usingCss .lSFade>*{-webkit-transition-timing-function:inherit!important;transition-timing-function:inherit!important;-webkit-transition-duration:inherit!important;transition-duration:inherit!important}.lSSlideOuter,.lSSlideOuter .lSPager.lSGallery{-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-webkit-touch-callout:none;-webkit-user-select:none}.lSSlideOuter .lSPager.lSGallery:after,.lSSlideWrapper>.lightSlider:after{clear:both}.lSSlideOuter{overflow:hidden;user-select:none}.lightSlider:after,.lightSlider:before{content:" ";display:table}.lightSlider{overflow:hidden;margin:0}.lSSlideWrapper{max-width:100%;overflow:hidden}.lSSlideWrapper .lSSlide{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);-webkit-transition:all 1s;-webkit-transition-property:-webkit-transform,height;-moz-transition-property:-moz-transform,height;transition-property:transform,height}.lSSlideWrapper .lSFade>*{position:absolute!important;top:0;left:0;z-index:9;margin-right:0;width:100%}.lSSlideWrapper.usingCss .lSFade>*{opacity:0;-webkit-transition-delay:0s;transition-delay:0s;-webkit-transition-property:opacity;transition-property:opacity}.lSSlideWrapper .lSFade>.active{z-index:10}.lSSlideWrapper.usingCss .lSFade>.active{opacity:1}.lSSlideOuter .lSPager.lSpg{margin:10px 0 0;padding:0;text-align:center}.lSSlideOuter .lSPager.lSpg>li{cursor:pointer;display:inline-block;padding:0 5px}.lSSlideOuter .lSPager.lSpg>li a{background-color:none;border-radius:30px;display:inline-block;height:16px;border:2px solid #fff;overflow:hidden;text-indent:-999em;width:16px;position:relative;z-index:99;-webkit-transition:all .5s linear 0s;transition:all .5s linear 0s}.lSSlideOuter .lSPager.lSpg>li.active a,.lSSlideOuter .lSPager.lSpg>li:hover a{background-color:#fff}.lSSlideOuter .media{opacity:.8}.lSSlideOuter .media.active{opacity:1}.lSSlideOuter .lSPager.lSGallery{list-style:none;padding-left:0;margin:0;overflow:hidden;transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;user-select:none}.lSSlideOuter .lSPager.lSGallery li{overflow:hidden;-webkit-transition:border-radius .12s linear 0s .35s linear 0s;transition:border-radius .12s linear 0s .35s linear 0s}.lSSlideOuter .lSPager.lSGallery li.active,.lSSlideOuter .lSPager.lSGallery li:hover{border-radius:5px}.lSSlideOuter .lSPager.lSGallery img{display:block;height:auto;max-width:100%}.lSSlideOuter .lSPager.lSGallery:after,.lSSlideOuter .lSPager.lSGallery:before{content:" ";display:table}.lSAction>a{width:32px;display:block;top:50%;height:32px;background-image:url(controls.png);cursor:pointer;position:absolute;z-index:99;margin-top:-16px;opacity:.5;-webkit-transition:opacity .35s linear 0s;transition:opacity .35s linear 0s}.lSAction>a:hover{opacity:1}.lSAction>.lSPrev{background-position:0 0;left:10px}.lSAction>.lSNext{background-position:-32px 0;right:10px}.lSAction>a.disabled{pointer-events:none}.cS-hidden{height:1px;opacity:0;filter:alpha(opacity=0);overflow:hidden}.lSSlideOuter.vertical{position:relative}.lSSlideOuter.vertical.noPager{padding-right:0!important}.lSSlideOuter.vertical .lSGallery{position:absolute!important;right:0;top:0}.lSSlideOuter.vertical .lightSlider>*{width:100%!important;max-width:none!important}.lSSlideOuter.vertical .lSAction>a{left:50%;margin-left:-14px;margin-top:0}.lSSlideOuter.vertical .lSAction>.lSNext{background-position:31px -31px;bottom:10px;top:auto}.lSSlideOuter.vertical .lSAction>.lSPrev{background-position:0 -31px;bottom:auto;top:10px}.lSSlideOuter.lSrtl{direction:rtl}.lSSlideOuter .lSPager,.lSSlideOuter .lightSlider{padding-left:0;list-style:none}.lSSlideOuter.lSrtl .lSPager,.lSSlideOuter.lSrtl .lightSlider{padding-right:0}.lSSlideOuter .lSGallery li,.lSSlideOuter .lightSlider>*{float:left}.lSSlideOuter.lSrtl .lSGallery li,.lSSlideOuter.lSrtl .lightSlider>*{float:right!important}@-webkit-keyframes rightEnd{0%,100%{left:0}50%{left:-15px}}@keyframes rightEnd{0%,100%{left:0}50%{left:-15px}}@-webkit-keyframes topEnd{0%,100%{top:0}50%{top:-15px}}@keyframes topEnd{0%,100%{top:0}50%{top:-15px}}@-webkit-keyframes leftEnd{0%,100%{left:0}50%{left:15px}}@keyframes leftEnd{0%,100%{left:0}50%{left:15px}}@-webkit-keyframes bottomEnd{0%,100%{bottom:0}50%{bottom:-15px}}@keyframes bottomEnd{0%,100%{bottom:0}50%{bottom:-15px}}.lSSlideOuter .rightEnd{-webkit-animation:rightEnd .3s;animation:rightEnd .3s;position:relative}.lSSlideOuter .leftEnd{-webkit-animation:leftEnd .3s;animation:leftEnd .3s;position:relative}.lSSlideOuter.vertical .rightEnd{-webkit-animation:topEnd .3s;animation:topEnd .3s;position:relative}.lSSlideOuter.vertical .leftEnd{-webkit-animation:bottomEnd .3s;animation:bottomEnd .3s;position:relative}.lSSlideOuter.lSrtl .rightEnd{-webkit-animation:leftEnd .3s;animation:leftEnd .3s;position:relative}.lSSlideOuter.lSrtl .leftEnd{-webkit-animation:rightEnd .3s;animation:rightEnd .3s;position:relative}.lightSlider.lsGrab>*{cursor:-webkit-grab;cursor:-moz-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.lightSlider.lsGrabbing>*{cursor:move;cursor:-webkit-grabbing;cursor:-moz-grabbing;cursor:-o-grabbing;cursor:-ms-grabbing;cursor:grabbing}
/* gallery */
.thumb {
  border:1px solid #eee;
  padding:3px;
  opacity:.8;
  display:block;
}
.thumb:hover {
  opacity:1
}
/* rate vote */
.rate_widget {
    overflow: visible;
    position: relative;
}

.ratings_stars {
    background: url(star-off.png) no-repeat;
    float: right;
    height: 18px;
    padding: 2px;
    width: 18px;
}

.ratings_vote {
    background: url(star-on.png) no-repeat;
}

div.hover_green {
    cursor: pointer;
    background: url(star-highlight.png) no-repeat;
}

.total_votes {
    background: #eaeaea;
    top: 58px;
    left: 0;
    padding: 5px;
    position: absolute;
}
.pagination li.last-page, .pagination li.first-page{display: none}
#order textarea, #order input, #order select{
	  margin-top: 4px;
    margin-bottom: 11px;
    min-height: 35px;
    padding: 3px 10px;
    width: 100%;
    border: 1px solid #fff;
}
#order input[name="captcha"]{
	width: 48%;
    float: left;
    margin-right: 5px;
}
.zonezoom{padding-bottom:30px}
.showroom{list-style:none;font-size:16px}
.icon-hethong a{display:block;font-size:24px;line-height:1.35;padding-left:15px;}
.icon-hethong > .col-6:last-child{padding-left:2px}
.icon-hethong a:hover{color:#eee;}
.icon-hethong .col-6:last-child a{padding-left:0}
.icon-hethong a img{float:left;margin-right:10px;}
.icon-hethong a:after{content:"";display:block;clear:both}
.goToNextSlide,.goToPrevSlide{width:39px;height:73px;top:50%;margin-top:-36px;border:0}
.goToNextSlide:focus,.goToPrevSlide:focus{outline:0}
.goToNextSlide{
  right:0;
  background:url(arrow-right-big.png) 0 0 no-repeat;
}
.goToPrevSlide{
  left:0;
  background:url(arrow-left-big.png) 0 0 no-repeat;
}
.mostviews_title{padding:10px 0;font-weight:500;line-height:1.3;border-radius:3px 3px 0 0}
.mostviews_name{font-weight:400}

.faq_module{
  padding:10px;
  border-radius:6px;
  border:1px solid #ccc;
}
.faq_module textarea,
.faq_module input{
  background-color:#ebebeb;
  border:1px solid #eee;
  margin-bottom:10px;
  border-radius:3px
}
.faq_module textarea:focus,
.faq_module textarea:active,
.faq_module textarea:hover,
.faq_module input:focus,
.faq_module input:active,
.faq_module input:hover{
  border-color:#999;
  outline:0;
}
.view-reply{color:#0436a1;
  background-color:#f2f2f2;
  border:1px solid #eee;display:inline-block;padding:3px 15px;border-radius:15px;font-size:12px}
.question_title{font-weight:500}
.order_heading h3{
  margin:5px 0;
}
.fakeborder{border:1px solid #ccc;padding-top:5px;padding-bottom:5px;margin-bottom:20px}
.order_heading {margin-bottom:10px;}
.order_quantity{width:40px}
#order_details #order_form .required{color:red !important}
#order_details .rowinput input{width:100%;border:1px solid #ccc;margin:5px 0;min-height:40px}
#order_details #captchaimg{margin-top:0}
#minus,#plus{cursor:pointer;width:30px;text-align:center;display:inline-block;height:30px}
.order_buttons > a{line-height:35px;font-size:18px}
.order_buttons > a.datmua {width:60%;}
.order_buttons > a.diemban {width:40%;}
.order_buttons > a:hover{color:#fff;opacity:.95}
.order_comment{font-size:16px;}

.media-list{border-top:1px solid #ccc}
.right-hotnews img{
  width:120px;
  height:80px;
  margin-right:15px;
}
.row_hotnews{border-bottom:1px solid #ccc;}
.metadata{padding: 5px 0}
