.hide {
	display: none;
}
.entry-content img{
	height: auto !important;
	width: 100% !important;
}
.content-area table tr td:first-child{
  text-align: center;
  padding-left: 8px;
}
h5.post-title{
  line-height: 20px;
  margin-top: 10px;
}
.price {
  color: red;
}
.widget_categories ul li a{
	font-weight: 400;
	text-transform: inherit;
	font-size: 15px;
}
.widget_categories ul li ul{
	display: block !important;
	opacity: 1 !important;
	position: relative !important;
	left: initial;
}
.widget_categories ul li{
	display: inline-block;
  padding: 6px 0;
  -ms-flex: 1;
  width: 100%
}
.widget_categories ul.nav-dropdown{
    max-height: initial;
    border: none;
    box-shadow: none;
    background: none;
    padding-top: 5px;
}
@media screen and (max-width: 549px){
  .content-area table{
    overflow-x: auto;
    display: block;
    width: fit-content;
    max-width: 100%;
  }
}
